<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <title>Mark's Fall 2024 Class Schedule</title>
    <style>
        body {
            background-color: #e0f7fa; /* Light blue background */
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mark Guzman Lizarazo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="schedule.html">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="hobbies.html">Hobbies</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Schedule Content -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Fall 2024 Class Schedule</h1>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Day</th>
                    <th>Classes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>
                        COM 2400: Theories of Interpersonal Communication<br>
                        MGT 3070: Solving Complex Business Problems<br>
                        ME 5005: Capstone Design I<br>
                        MAT 4550: Math of Financial Derivatives
                    </td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>
                        CSC 4505: Applied Machine Learning<br>
                        AST 2122: Understanding Our Universe<br>
                        CSC 2053: Platform Based Computing
                    </td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>
                        COM 2400: Theories of Interpersonal Communication<br>
                        MGT 3070: Solving Complex Business Problems<br>
                        ME 5005: Capstone Design I<br>
                        ME 4002: Solid Mechanics Lab
                    </td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>
                        CSC 4505: Applied Machine Learning<br>
                        AST 2122: Understanding Our Universe
                    </td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>
                        COM 2400: Theories of Interpersonal Communication<br>
                        MGT 3070: Solving Complex Business Problems<br>
                        ME 5005: Capstone Design I<br>
                        EGR 5003: VESL
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
